@media (min-width: 1000px){
    .container {
        max-width: 125rem;
    }
    html{
        font-size: .6945vw;
    }
    .container-fluid{
        padding-left: 4rem;
        padding-right: 4rem;
    }
}
@media (max-width: 990px) {

}